.width{
    width: 160px;
    height: 50px;
}

.heading{
    font-size: 4.5rem;
}
.p{
    font-size: 1.1rem;
}


.heading2{
    font-size: 3.3rem;
}

/* .gap{
    display: grid;
    row-gap: 100px;

} */
.padding{
    padding-top: 150px;
}
.card{
    border-top: 2px dotted black;
    border-left: 2px dotted black;
    border-right: 2px dotted black;
    border-bottom: 2px dotted black ;
    margin: 5px;
    height: 400px;
    width: 220px;
}
.product-img{
    width: 150px;
}
.h{
    height:110px;
    width: 110px;
}
.box{
    width: 100%;
    height: 100%;
}
.color{
    background-color: #f9f9f9;
    width: 100%;
}
.img{
    width: 200px;
    height: 200px;
    margin-left: 350px;
    margin-top: 100px;
}
.img-p{
    margin: 0px;
}
.img-pp{
    bottom: 100px;
}
.mar{
    margin-left: 500px;
    margin-top: 50px;
    
}
.img-car{
    margin-bottom: 0px;
}

.top-left-tomato {
    position: absolute;
    top: 40px;
    left: 40px;
}
.bottom-right-tomato {
    position: absolute;
    bottom: 40px;
    right: 40px;
}
.heading2 {
    font-size: 3.3rem;
    font-weight: bold;
}
.profile-img{
    width: 200px;
    height: 200px;
}
.margin-top{
    margin-top: 160px;
    margin-right: 0px;
}
.margin-top1{
    margin-top: 50px;
}
.gap{
    display: flex;
    margin-left: 30px;
}
.img{
    width: 5000px;
}
.width {
      width: 160px;
      height: 50px;
    }

    .heading {
      font-size: 4.5rem;
    }

    .p {
      font-size: 1.1rem;
    }

    .heading2 {
      font-size: 3.3rem;
      font-weight: bold;
    }

    .padding {
      padding-top: 150px;
    }

    .card {
      border: 2px dotted black;
      margin: 5px;
      height: 400px;
      width: 220px;
    }

    .product-img {
      width: 150px;
    }

    .h {
      height: 110px;
      width: 110px;
    }

    .color {
      background-color: #f9f9f9;
      width: 100%;
    }

    .profile-img {
      width: 200px;
      height: 200px;
    }

    .margin-top {
      margin-top: 160px;
    }

    .margin-top1 {
      margin-top: 50px;
    }

    .gap {
      display: flex;
      margin-left: 30px;
    }

    .testimonial-section {
      position: relative;
      overflow: hidden;
    }

    .top-left-tomato {
      position: absolute;
      top: 30px;
      left: 30px;
      width: 120px;
      z-index: 5;
    }

    .bottom-right-tomato {
      position: absolute;
      bottom: 30px;
      right: 30px;
      width: 120px;
      z-index: 5;
    }

    @media (max-width: 576px) {
      .top-left-tomato,
      .bottom-right-tomato {
        width: 60px;
      }
    }

    .profile-img {
      width: 80px;
    }
    